.display-rule {
  font-size: 14px;
  color: #777;
  padding: 18px 16px;

  .section {
    margin-bottom: 30px;

    h2 {
      font-size: 14px;
      font-weight: normal;
    }

    p {
      margin: 10px 0;
      line-height: 24px;
    }
  }
}
