{
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/**/node/**/*.js",
        "src/**/modules/**/*.js",
        "src/**/assets/**/*.js",
        "src/multiply.js"
    ],
    "reporter":[
         "text-summary",
         "html",
         "text",
         "lcov",
         "lcovonly"
    ],
    "report-dir": "./coverage"
}
