.display-notice {
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  background: #05d380;
  padding: 0 16px;

  .txt {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
